.back-button-v2 {
  a {
    text-decoration: none;
    width: 230px;
    cursor: pointer;

    i {
      color: #191a1b;
      font-size: 24px;
    }

    span {
      color: var(--foundation-primary-primary-500, #191a1b);
      font-family: DM Sans;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%;
    }
  }
}

.withdraw-wrapper {
  margin-top: 35px;
  margin-left: 33px;
}

.withdraw-btn-wrapper {
  margin-top: 30px;
  button {
    border-radius: 11.992px;
    background: var(--foundation-purple-purple-500, #6200ee);
    padding: 15px;
    color: #fff;
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    border: none;
  }
}
