

<div class="container-fluid">
  <div class="outer">
    <div class="middle">
      <div class="row align-items-center">
        <div class="col-md-6 p-0 m-0 auth-first-column">
          <app-auth-left-bar></app-auth-left-bar>
        </div>
        <div class="col d-flex justify-content-md-center">
          <div class="user-category-wrapper col-md-8">
            <div class="back-button-v2 back-top">
              <in-backbutton></in-backbutton>
            </div>
            <div class="user-category">
              <div class="title col-md-11">
                <h4 class="mb-0 signup">Create new password</h4>
                <p class="mb-0">
                  Your new password must be different from previously used passwords
                </p>
              </div>

              <div class="user-category-body col-md-12">
                <form [formGroup]="resetPasswordForm" [autocomplete]="'off'">

                  <div class="form-group mt-4">
                    <label>Password</label>
                    <div class="input mt-1">
                      <mat-form-field appearance="outline" class="col-md-12 w-100">
                        <input matInput id="password" name="password" type="password" class="" placeholder=""
                          autocomplete="new-password" formControlName="password" (keyup)="controlChanged('password')"
                          [type]="container['fieldTextType'] ? 'text' : 'password'">
                          <button
                          type="button" mat-icon-button matPrefix>
                          <i style="font-size: 18px;" class="ri-lock-line"></i>
                        </button>
                          <button type="button" mat-icon-button matSuffix (click)="showEyes()" [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="container['fieldTextType']">
                          <i style="font-size: 18px;" class="{{container['fieldTextType'] ? 'ri-eye-line' : 'ri-eye-off-line'}}"></i>
                        </button>
                      </mat-form-field>
                      <div class="error-wrapper">
                        <span *ngIf="uiErrors.password" class="error">{{uiErrors.password}}</span>
                      </div>
                    </div>
                  </div>

                  <div class="form-group mt-4">
                    <label>Confirm Password</label>
                    <div class="input mt-1">
                      <mat-form-field appearance="outline" class="col-md-12 w-100">
                        <input matInput id="confirmPassword" name="confirmPassword" type="password" class="" placeholder=""
                          autocomplete="new-password" formControlName="confirmPassword"
                          (keyup)="controlChanged('confirmPassword')"
                          [type]="container['fieldTextType'] ? 'text' : 'password'">
                          <button
                          type="button" mat-icon-button matPrefix>
                          <i style="font-size: 18px;" class="ri-lock-line"></i>
                        </button>
                          <button type="button" mat-icon-button matSuffix (click)="showEyes()" [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="container['fieldTextType']">
                          <i style="font-size: 18px;" class="{{container['fieldTextType'] ? 'ri-eye-line' : 'ri-eye-off-line'}}"></i>
                        </button>
                      </mat-form-field>
                      <div class="error-wrapper">
                        <span *ngIf="uiErrors.confirmPassword" class="error ">{{uiErrors.confirmPassword}}</span>
                      </div>
                    </div>
                  </div>


                  <div class="button-wrapper mt-5">
                    <button type="submit" class="action-btn col-md-12 w-100" [disabled]="resetPasswordForm.invalid"
                      routerLink="/app/home">
                      <div class="d-flex justify-content-center align-items-center">
                        <span class="">Complete </span> <app-loader2></app-loader2>
                      </div>
                    </button>
                  </div>


                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






