<div class="container-fluid">
  <app-view-wallet></app-view-wallet>

  <div class="transaction-wrapper">
    <div class="transaction-header">
      <h6>Transactions</h6>
      <span> Select a card for quick Transaction</span>
    </div>

    <div class="transaction-content">
      <div class="row g-3">
        <!-- <div class="col-6 col-sm-6 col-md-4">
          <div class="transaction-card">
            <div class="transaction-card-img">
              <img src="/assets/img/payment.svg" alt="Payment image" />
            </div>

            <div class="transaction-card-title">
              <h6 class="m-0">Payment Methods</h6>
            </div>
            <div class="transaction-card-subtitle">
              <span>Provide personal details and how we can reach you</span>
            </div>
          </div>
        </div> -->


        <div class="col-6 col-sm-6 col-md-4">
          <div class="transaction-card pointer" routerLink="/app/wallet/utilities">
            <div class="transaction-card-img">
              <img src="/assets/img/bill.svg" alt="Bill image" />
            </div>

            <div class="transaction-card-title">
              <h6 class="m-0">Bills and Utilities</h6>
            </div>
            <div class="transaction-card-subtitle">
              <span>Update your password and secure your account</span>
            </div>
          </div>
        </div>

        <div class="col-6 col-sm-6 col-md-4">
          <div class="transaction-card pointer" routerLink="/app/wallet/banks-list">
            <div class="transaction-card-img">
              <img src="/assets/img/bank.svg" alt="Bank image" />
            </div>

            <div class="transaction-card-title">
              <h6 class="m-0">Bank Accounts</h6>
            </div>
            <div class="transaction-card-subtitle">
              <span>Manage taxpayer information and tax documents</span>
            </div>
          </div>
        </div>



        <!-- <div class="col-6 col-sm-6 col-md-4">
          <div class="transaction-card">
            <div class="transaction-card-img">
              <img src="/assets/img/more.svg" alt="More image" />
            </div>

            <div class="transaction-card-title">
              <h6 class="m-0">More Settings</h6>
            </div>
            <div class="transaction-card-subtitle">
              <span>Choose notification preferences and how you want to be contacted</span>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
