<div class="container-fluid px-2 px-sm-2 px-md-4 px-lg-4 mb-5">
  <div class="col-md-12 mt-5">
    <in-backbutton></in-backbutton>
  </div>

  <div class="my-portfolio-header-wrapper">
    <div class="title">
      <h2>My portfolio distribution</h2>
    </div>
  </div>

  <div class="my-portfolio-wrapper">
    <div class="row d-flex flex-row column-gap-sm">
      <div class="my-portfolio-container col-12 col-sm-12 col-md-4 col-lg-4">
        <div class="my-portfolio-content details col-md-12">
          <div class="my-portfolio-desc d-flex align-items-center ">
            <div class="flex-grow-1">
              <div class="d-flex align-items-center">
                <div class=" d-flex align-items-start flex-column ml-4">
                  <div class="name  px-2 mb-0">
                    <h3 class="mb-0">Holding</h3>
                  </div>
                  <div class="value px-2"><span>NGN 200,000.00</span></div>
                </div>
              </div>
            </div>
            <div class="percent p-0"><h2 class="mb-0">75%</h2></div>
          </div>
        </div>
        <div class="my-portfolio-content details col-md-12">
          <div class="d-flex align-items-center ">
            <div class="flex-grow-1">
              <div class="my-portfolio-assets d-flex align-items-center">
                <div class="">
                  <div class="image-wrapper">
                    <img src="/assets/logo/mtn.svg" alt="MTN Logo" height="32" width="32">
                  </div>
                </div>
                <div class=" d-flex align-items-start flex-column ml-4">
                  <div class="asset-title text-uppercase px-2 mb-0">
                    <h3 class="mb-0">Mtn Nigeria</h3>
                  </div>
                  <div class="asset-subtitle px-2"><span>Series A offer</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="my-portfolio-container col-12 col-sm-12 col-md-4 col-lg-4">
        <div class="my-portfolio-content details col-md-12">
          <div class="my-portfolio-desc d-flex align-items-center ">
            <div class="flex-grow-1">
              <div class="d-flex align-items-center">
                <div class=" d-flex align-items-start flex-column ml-4">
                  <div class="name  px-2 mb-0">
                    <h3 class="mb-0">Holding</h3>
                  </div>
                  <div class="value px-2"><span>NGN 50,000.00</span></div>
                </div>
              </div>
            </div>
            <div class="percent p-0"><h2 class="mb-0">25%</h2></div>
          </div>
        </div>
        <div class="my-portfolio-content details col-md-12">
          <div class="d-flex align-items-center ">
            <div class="flex-grow-1">
              <div class="my-portfolio-assets d-flex align-items-center">
                <div class="">
                  <div class="image-wrapper">
                    <img src="/assets/logo/fcmb.svg" alt="MTN Logo" height="32" width="32">
                  </div>
                </div>
                <div class=" d-flex align-items-start flex-column ml-4">
                  <div class="asset-title text-uppercase px-2 mb-0">
                    <h3 class="mb-0">FCMB PLC</h3>
                  </div>
                  <div class="asset-subtitle px-2"><span>Public offer</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
