<div class="container-fluid px-2 px-sm-2 px-md-4 px-lg-4 pb-5" *ngIf="!container['cartsLoading']">
  <div class="col-md-12 back-wrapper">
    <in-backbutton></in-backbutton>
  </div>

  <div class="checkout-wrapper">
    <div class="checkout-header d-flex justify-content-center align-items-center">
      <div class="checkout-header-title v1">
        <h4>Summary</h4>
        <p>
          <!-- You can pick one out of our wide selection of providers. -->
        </p>
      </div>
    </div>

    <div class="checkout-body">
      <div class="d-flex justify-content-between align-items-center">

        <div class="items-wrapper">
          <div class="items-header">
            <h3>Items ({{providerXterData?.length}})</h3>
          </div>
          <form [formGroup]="priceForm" [autocomplete]="'off'" *ngIf="providerXterData" >
            <div class="items-body" *ngFor="let p of providerXterData let i = index;">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column">
                  <div class="name">
                    <p>{{p?.ProductVendorCharacter?.ProductCharacter?.name}}</p>
                    <span>{{p?.price |currency:"NGN":"symbol-narrow"}}</span>
                  </div>
                </div>
                <div *ngIf="p?.ProductVendorCharacter?.ProductCharacter?.type == 'inc_dcr'">
                  <div class="input mt-1 ">
                    <mat-form-field fxFlexFill style="width:10vw">
                      <button mat-button matPrefix mat-stroked-button aria-label="search" type="button" (click)="decrement(p)">
                        <mat-icon>remove</mat-icon>
                      </button>
                      <input autocomplete="off" class="col-md-12 text-center" matInput name="lastName" type="text" [formControlName]="p?.id" fxFlex="50">
                      <button mat-button matSuffix mat-stroked-button aria-label="search" type="button" (click)="increment(p)">
                        <mat-icon>add</mat-icon>
                      </button>
                    </mat-form-field>
                    <div class="error-wrapper">
                      <span *ngIf="uiErrors[p?.id]" class="error">{{ uiErrors[p?.id] }}</span>
                    </div>
                  </div>
                </div>
                <div *ngIf="['string','number'].includes(p?.ProductVendorCharacter?.ProductCharacter?.type)">
                  <div class="input mt-1 ">
                    <mat-form-field  style="width:10vw">
                      <input autocomplete="off" [ngClass]="{'text-right':p?.ProductVendorCharacter?.ProductCharacter?.type=='number'}" matInput name="lastName" [type]="p?.ProductVendorCharacter?.ProductCharacter?.type" [formControlName]="p?.id">
                    </mat-form-field>
                    <div class="error-wrapper">
                      <span *ngIf="uiErrors[p?.id]" class="error">{{ uiErrors[p?.id] }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="price-wrapper">
          <div class="d-flex justify-content-between">
            <div class="total">
              <span>Total ({{providerXterData?.length}}):</span>
            </div>
            <div class="total">
              <span>{{container['total'] |currency:"NGN":"symbol-narrow"}}</span>
            </div>
          </div>
          <div class="price-btn mt-3">
            <button (click)="onSubmit()" type="submit" class="action-btn col-md-12 w-100" [disabled]="container['submitting']">
              <div class="d-flex justify-content-center align-items-center">
              <span>Confirm Order & Make Payment</span> &nbsp;<i *ngIf="container['submitting']" style="font-size: 14px;" class="ri-arrow-right-line"></i>
            </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="container['cartsLoading']">
  <app-loader></app-loader>
</div>
