<div class="container mb-5">
  <div class="col-md-12 mt-5">
    <in-backbutton></in-backbutton>
  </div>


  <div class="mt-4">
    <div class="row d-flex flex-row column-gap-sm">
      <div class="mat-elevation-z8 px-0">
        <table mat-table [dataSource]="vendorsDataSource">
          <ng-container matColumnDef="{{ column['name'] }}" *ngFor="let column of vendorsDisplayedColumns">
            <th mat-header-cell *matHeaderCellDef>
              <div [ngSwitch]="column['name']">
                <div *ngSwitchDefault>{{ column["title"] }}</div>
                <div *ngSwitchCase="'amount'" class="text-right tableAmount">
                  {{ column["title"] }}
                </div>
              </div>
            </th>
            <mat-progress-bar mode="indeterminate" *ngIf="container['vendorsLoading']"></mat-progress-bar>
            <td mat-cell *matCellDef="let element">
              <div [ngSwitch]="column['name']" [ngClass]="{tableAmount: column['name'] == ('number' || 'money')}">
                <div *ngSwitchDefault>{{ element[column["name"]] }}</div>
                <div *ngSwitchCase="'user'">
                  {{ element?.User?.firstName }} {{ element?.User?.lastName }}
                </div>
                <div *ngSwitchCase="'createdAt'">
                  {{ element?.createdAt | date }}
                </div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="vendorsColumnsToDisp"></tr>
          <tr class="pointer" mat-row *matRowDef="let row; columns: vendorsColumnsToDisp"  [routerLink]="['/app/vendors/details', row?.id]"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td
              class="mat-cell text-center py-3"
              [attr.colspan]="vendorsDisplayedColumns.length"
            >
              No data found.
            </td>
          </tr>
        </table>
        <div
          *ngIf="container['vendorsLoading']"
          class="mat-spinner-container"
        >
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
          [length]="total_count"
          [pageSize]="pageSize"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
