.title {
  &.settings {
    margin-top: 40px;
  }
}

.link-tab {
  margin-top: 23px;
}

::ng-deep.mat-mdc-tab-list {
  flex-grow: 0 !important;
  position: relative;
  transition: transform 500ms cubic-bezier(0.35, 0, 0.25, 1);
}



::ng-deep.mat-mdc-tab-header {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  border-bottom: 3px solid var(--white-white-300, #F1F1F1) !important;
  --mdc-tab-indicator-active-indicator-height: 3px !important;
}

::ng-deep.mat-mdc-tab-group, .mat-mdc-tab-nav-bar {
  --mdc-tab-indicator-active-indicator-color: var(--secondary);
  --mat-tab-header-disabled-ripple-color: rgba(0, 0, 0, 0.38);
  --mat-tab-header-pagination-icon-color: #000;
  --mat-tab-header-inactive-label-text-color: rgba(0, 0, 0, 0.6);
  --mat-tab-header-active-label-text-color: var(--secondary);
  --mat-tab-header-active-ripple-color: var(--secondary);
  --mat-tab-header-inactive-ripple-color: var(--secondary)
  /* --mat-tab-header-inactive-focus-label-text-color: rgba(0, 0, 0, 0.6); */
  --mat-tab-header-inactive-hover-label-text-color: rgba(0, 0, 0, 0.6);
  --mat-tab-header-active-focus-label-text-color: var(--secondary);
  --mat-tab-header-active-hover-label-text-color: var(--secondary);
  --mat-tab-header-active-focus-indicator-color: var(--secondary);
  --mat-tab-header-active-hover-indicator-color: var(--secondary);
}
