<div class="info-wrapper pb-5 mx-2 mt-2" >
  <div class="info-header-wrapper">
    <h3>Your Business Logo</h3>
  </div>

  <div class="profile-pic-wrapper">
    <div class="pic-holder">
      <input class="uploadProfileInput" type="file" name="profile_pic" id="newProfilePhoto" accept="image/*" style="opacity: 0" (change)="fileChangeEvent($event)" height="140" width="140" />
      <label for="newProfilePhoto" class="upload-file-block">
        <div class="text-center">
          <div class="mb-2">
            <img [src]="userInformation?.avatar?.url || '/assets/img/gallery-add.svg'" alt="Profile image" />
          </div>
          <div class="text-uppercase">Upload your <br />logo</div>
        </div>
      </label>
    </div>
  </div>

  <div class="info-content-wrapper">
    <div class="col-md-9">
      <div class="card">
        <form [formGroup]="signupForm" [autocomplete]="'off'">
          <div class="form-group mt-4">
            <label>Business Name</label>
            <div class="input mt-1 ">
              <mat-form-field appearance="outline" class="col-md-12 w-100">
                <input autocomplete="off" matInput name="name" type="text" class="" placeholder="Enter your business name"
                  formControlName="name" (keyup)="controlChanged('name')">
              </mat-form-field>
              <div class="error-wrapper">
                <span *ngIf="uiErrors.name" class="error ">{{uiErrors.name}}</span>
              </div>
            </div>
          </div>


          <div class="form-group mt-4">
            <label>Email Address</label>
            <div class="input mt-1 ">
              <mat-form-field appearance="outline" class="col-md-12 w-100">
                <input autocomplete="off" matInput name="email" type="email" class="" placeholder="Enter your email address"
                  formControlName="email" (keyup)="controlChanged('email')">
                  <button
                  type="button" mat-icon-button matPrefix>
                  <i style="font-size: 16px;" class="ri-mail-line"></i>
                </button>
              </mat-form-field>
              <div class="error-wrapper">
                <span *ngIf="uiErrors.email" class="error ">{{uiErrors.email}}</span>
              </div>
            </div>
          </div>


          <div class="form-group mt-4">
            <label>Business Category</label>
            <div class="input mt-1 ">
              <mat-form-field appearance="outline" class="col-md-12 w-100">
                <mat-select formControlName="category">
                  <mat-option value="" disabled>Select your business category </mat-option>
                  <mat-option *ngFor="let c of categories" value="{{c.id}}">{{c?.title}} </mat-option>
                </mat-select>
              </mat-form-field>
              <div class="error-wrapper">
                <span *ngIf="uiErrors.category" class="error ">{{uiErrors.category}}</span>
              </div>
            </div>
          </div>

          <div class="form-group mt-4">
            <label>Business address <small>(Please pick from the search results...{{container.countdown}})</small></label>
            <div class="input mt-1 ">
              <mat-form-field appearance="outline" class="col-md-12 w-100">
                <input placeholder="Please wait, loading..." autocorrect="off" matInput autocapitalize="off" spellcheck="off" type="text" class="form-control" formControlName="address" #search />
              </mat-form-field>
              <div class="error-wrapper">
                <span *ngIf="uiErrors.address" class="error ">{{uiErrors.address}}</span>
              </div>
            </div>
          </div>
<!--
          <div class="form-group mt-4">
            <label
              ><div class="gateway-label d-flex justify-content-between">
                <div>Country</div>
              </div></label
            >
            <div class="input mt-1">
              <mat-form-field
              appearance="outline"
              class="col-md-12 w-100 input"

            >
              <mat-select formControlName="country" >
                <mat-option value="" disabled>Select your country </mat-option>
                <mat-option *ngFor="let c of appContext?.countries" [value]="c"> {{c.country}}</mat-option>
              </mat-select>
            </mat-form-field>
              <div class="error-wrapper">
                <span class="error" *ngIf="uiErrors.country != ''">{{uiErrors.country }}</span>
              </div>
            </div>
          </div>

          <div class="form-group mt-4">
            <label
              ><div class="gateway-label d-flex justify-content-between">
                <div>City</div>
              </div></label
            >
            <div class="input mt-1">
              <mat-form-field appearance="outline" class="col-md-12 w-100">
                <input
                  autocomplete="off"
                  matInput
                  name="city"
                  type="text"
                  class=""
                  placeholder="Enter your city"
                  formControlName="city"
                />
              </mat-form-field>
              <div class="error-wrapper">
                <span class="error" *ngIf="uiErrors.city != ''">{{uiErrors.city }}</span>
              </div>
            </div>
          </div>

          <div class="form-group mt-4">
            <label
              ><div class="gateway-label d-flex justify-content-between">
                <div>Address</div>
              </div></label
            >
            <div class="input mt-1">
              <mat-form-field appearance="outline" class="col-md-12 w-100">
                <input
                  autocomplete="off"
                  matInput
                  name="address1"
                  type="text"
                  class=""
                  placeholder="Enter your address"
                  formControlName="address1"
                />
              </mat-form-field>
              <div class="error-wrapper">
                <span class="error" *ngIf="uiErrors.address1 != ''">{{uiErrors.address1 }}</span>
              </div>
            </div>
          </div> -->




          <div class="button-wrapper mt-4">
            <button (click)="onSubmit()"  type="submit" class="action-btn col-md-12 w-100" [disabled]="submitting">
              <div class="d-flex justify-content-center align-items-center">
              <span>Update</span> &nbsp;<i *ngIf="submitting" style="font-size: 14px;" class="ri-arrow-right-line"></i>
            </div>
            </button>
          </div>

          <!-- <div class="auth-footer-wrapper mt-2">
            <div class="auth-footer text-center">
              <span>Already have an account? <a routerLink="/auth/login">Log in</a></span>
            </div>
          </div> -->

        </form>
      </div>

      <!-- <div class="info-button-wrapper col-md-6">
        <div class="d-flex justify-content-center col-md-6">
          <button  class="update-button">Update Profile</button>
        </div>
        <div class="d-flex justify-content-center col-md-6">
          <button  class="reset-button">Reset</button>
        </div>
      </div> -->
    </div>
  </div>
</div>


