<div class="container-fluid px-1 px-sm-1 px-md-4 px-lg-4 mb-5">
  <div class="mt-5 d-flex justify-content-between align-items-center">
    <div class="col">
      <in-backbutton></in-backbutton>
    </div>
    <div class="tab-wrapper col">
      <div class="tab d-flex justify-content-center align-items-center">
        <div class="d-flex justify-content-between align-items-center">
          <div
            class="tab-icon"
            [ngClass]="{ iconActive: tabView === 'accounts' }"
          >
            <i class="ri-checkbox-circle-fill"></i>
          </div>
          <div
            class="tab-text px-3"
            [ngClass]="{
              active: tabView === 'personal' || tabView === 'accounts'
            }"
          >
            <span>1. Personal</span>
          </div>
        </div>
        <div class="tab-icon-spacer">
          <i class="ri-arrow-right-s-line"></i>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="tab-icon px-3">
            <i class="ri-checkbox-circle-fill"></i>
          </div>
          <div class="tab-text" [ngClass]="{ active: tabView === 'accounts' }">
            <span>2. Account</span>
          </div>
        </div>
      </div>
    </div>
    <div class="request-btn-wrapper col">
      <div class="d-flex justify-content-end mr-4">
        <button
          class="request-btn"
          *ngIf="tabView === 'personal'"
          (click)="nextTab()"
        >
          <span class="d-flex justify-content-between align-items-center"
            >Continue &nbsp; <i class="ri-arrow-right-s-line"></i
          ></span>
        </button>
        <button
          class="request-btn v2 mx-2"
          *ngIf="tabView === 'accounts'"
          (click)="prevTab()"
        >
          <span class="d-flex justify-content-between align-items-center"
            >Cancel</span
          >
        </button>
        <button class="request-btn" *ngIf="tabView === 'accounts'">
          <span class="d-flex justify-content-between align-items-center"
            >Submit form</span
          >
        </button>
      </div>
    </div>
  </div>

  <div class="progress-space">
    <mat-progress-bar
      class="audio-progress-bar"
      mode="determinate"
      value="{{ tabProgress }}"
    ></mat-progress-bar>
  </div>

  <div class="request-content" *ngIf="tabView === 'personal'">
    <div class="d-flex justify-content-center">
      <div class="col-md-12 col-12 col-sm-12 col-lg-12">
        <div>
          <div
            class="row flex-column flex-md-row flex-lg-row align-items-start"
          >
            <div class="col mb-4 mb-sm-4 mb-md-0 mb-lg-0">
              <div class="d-flex align-items-center">
                <div
                  class="add-cscs d-flex align-items-center align-items-sm-center align-items-md-start align-items-lg-start flex-column ml-4"
                >
                  <div class="value mb-0">
                    <h6>Location</h6>
                  </div>
                  <div class="key">
                    <span>Provide your residential info</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col mb-4 mb-sm-4 mb-md-0 mb-lg-0">
              <div class="d-flex align-items-center">
                <div class="form-group">
                  <label
                    ><div class="gateway-label d-flex justify-content-between">
                      <div>Country of residence</div>
                    </div></label
                  >
                  <div class="input mt-1">
                    <mat-form-field
                      appearance="outline"
                      class="col-md-12 w-100"
                    >
                      <mat-select>
                        <mat-option value="html">
                        Nigeria
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <!-- <div class="error-wrapper">
                      <span *ngIf="uiErrors.amount" class="error">{{
                        uiErrors.amount
                      }}</span>
                    </div> -->
                  </div>
                </div>
              </div>

              <div class="d-flex align-items-center">
                <div class="form-group">
                  <label
                    ><div class="gateway-label d-flex justify-content-between">
                      <div>City of residence</div>
                    </div></label
                  >
                  <div class="input mt-1">
                    <mat-form-field
                      appearance="outline"
                      class="col-md-12 w-100"
                    >
                      <mat-select>
                        <mat-option value="html">
                        Lagos
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <!-- <div class="error-wrapper">
                      <span *ngIf="uiErrors.amount" class="error">{{
                        uiErrors.amount
                      }}</span>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col mb-4 mb-sm-4 mb-md-0 mb-lg-0">
              <div class="d-flex align-items-center">
                <div class="form-group">
                  <label
                    ><div class="gateway-label d-flex justify-content-between">
                      <div>Local government area (LGA)</div>
                    </div></label
                  >
                  <div class="input mt-1">
                    <mat-form-field
                      appearance="outline"
                      class="col-md-12 w-100 input"
                    >
                    <mat-select>
                      <mat-option value="html">
                      Lagos Island
                      </mat-option>
                    </mat-select>
                    </mat-form-field>
                    <!-- <div class="error-wrapper">
                      <span *ngIf="uiErrors.amount" class="error">{{
                        uiErrors.amount
                      }}</span>
                    </div> -->
                  </div>
                </div>
              </div>

              <div class="d-flex align-items-center">
                <div class="form-group">
                  <label
                    ><div class="gateway-label d-flex justify-content-between">
                      <div>Postal code</div>
                    </div></label
                  >
                  <div class="input mt-1">
                    <mat-form-field
                      appearance="outline"
                      class="col-md-12 w-100 input"
                    >
                      <input
                        autocomplete="off"
                        matInput
                        name="cscs"
                        type="text"
                        class=""
                        placeholder="911000"
                      />
                    </mat-form-field>
                    <!-- <div class="error-wrapper">
                      <span *ngIf="uiErrors.amount" class="error">{{
                        uiErrors.amount
                      }}</span>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="line"></div>
    <div class="d-flex justify-content-center">
      <div class="col-md-12 col-12 col-sm-12 col-lg-12">
        <div>
          <div
            class="row flex-column flex-md-row flex-lg-row align-items-start"
          >
            <div class="col mb-4 mb-sm-4 mb-md-0 mb-lg-0">
              <div class="d-flex align-items-center">
                <div
                  class="add-cscs d-flex align-items-center align-items-sm-center align-items-md-start align-items-lg-start flex-column ml-4"
                >
                  <div class="value mb-0">
                    <h6>Next of kin</h6>
                  </div>
                  <div class="key">
                    <span>Provide your next of kin info</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col mb-4 mb-sm-4 mb-md-0 mb-lg-0">
              <div class="d-flex align-items-center">
                <div class="form-group">
                  <label
                    ><div class="gateway-label d-flex justify-content-between">
                      <div>Name of next of kin</div>
                    </div></label
                  >
                  <div class="input mt-1">
                    <mat-form-field
                      appearance="outline"
                      class="col-md-12 w-100"
                    >
                    <input
                    autocomplete="off"
                    matInput
                    name="name"
                    type="text"
                    class=""
                    placeholder="Solomon David"
                  />
                    </mat-form-field>
                    <!-- <div class="error-wrapper">
                      <span *ngIf="uiErrors.amount" class="error">{{
                        uiErrors.amount
                      }}</span>
                    </div> -->
                  </div>
                </div>
              </div>

              <div class="d-flex align-items-center">
                <div class="form-group">
                  <label
                    ><div class="gateway-label d-flex justify-content-between">
                      <div>Relationship with next of kin</div>
                    </div></label
                  >
                  <div class="input mt-1">
                    <mat-form-field
                      appearance="outline"
                      class="col-md-12 w-100"
                    >
                    <input
                    autocomplete="off"
                    matInput
                    name="relationship"
                    type="text"
                    class=""
                    placeholder="Brother"
                  />
                    </mat-form-field>
                    <!-- <div class="error-wrapper">
                      <span *ngIf="uiErrors.amount" class="error">{{
                        uiErrors.amount
                      }}</span>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col mb-4 mb-sm-4 mb-md-0 mb-lg-0">
              <div class="d-flex align-items-center">
                <div class="form-group">
                  <label
                    ><div class="gateway-label d-flex justify-content-between">
                      <div>Next of kin's phone number</div>
                    </div></label
                  >
                  <div class="input mt-1">
                    <mat-form-field
                      appearance="outline"
                      class="col-md-12 w-100 input"
                    >
                    <mat-select>
                      <mat-option value="html">
                      Lagos Island
                      </mat-option>
                    </mat-select>
                    </mat-form-field>
                    <!-- <div class="error-wrapper">
                      <span *ngIf="uiErrors.amount" class="error">{{
                        uiErrors.amount
                      }}</span>
                    </div> -->
                  </div>
                </div>
              </div>

              <div class="d-flex align-items-center">
                <div class="form-group">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="request-content" *ngIf="tabView === 'accounts'">
    <div class="d-flex justify-content-center">
      <div class="col-md-12 col-12 col-sm-12 col-lg-12">
        <div>
          <div
            class="row flex-column flex-md-row flex-lg-row align-items-start"
          >
            <div class="col mb-4 mb-sm-4 mb-md-0 mb-lg-0">
              <div class="d-flex align-items-center">
                <div
                  class="add-cscs d-flex align-items-center align-items-sm-center align-items-md-start align-items-lg-start flex-column ml-4"
                >
                  <div class="value mb-0">
                    <h6>Nigerian naira account</h6>
                  </div>
                  <div class="key">
                    <span>Add your Nigerian bank account</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col mb-4 mb-sm-4 mb-md-0 mb-lg-0">
              <div class="d-flex align-items-center">
                <div class="form-group">
                  <label
                    ><div class="gateway-label d-flex justify-content-between">
                      <div>Bank</div>
                    </div></label
                  >
                  <div class="input mt-1">
                    <mat-form-field
                      appearance="outline"
                      class="col-md-12 w-100"
                    >
                      <mat-select>
                        <mat-option value="html">
                          <img
                            src="/assets/logo/paystack.svg"
                            alt="Paystack Logo"
                          />
                          &nbsp; Paystack
                        </mat-option>
                        <mat-option value="css"
                          ><img
                            src="/assets/logo/Flutterwave.svg"
                            alt="Flutterwave Logo"
                          />
                          &nbsp; Flutterwave</mat-option
                        >
                        <mat-option value="js"
                          ><img
                            src="/assets/logo/Interswitch.svg"
                            alt="Interswitch Logo"
                          />
                          &nbsp; Interswitch</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                    <!-- <div class="error-wrapper">
                      <span *ngIf="uiErrors.amount" class="error">{{
                        uiErrors.amount
                      }}</span>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col mb-4 mb-sm-4 mb-md-0 mb-lg-0">
              <div class="d-flex align-items-center">
                <div class="form-group">
                  <label
                    ><div class="gateway-label d-flex justify-content-between">
                      <div>Account number</div>
                    </div></label
                  >
                  <div class="input mt-1">
                    <mat-form-field
                      appearance="outline"
                      class="col-md-12 w-100 input"
                    >
                      <input
                        autocomplete="off"
                        matInput
                        name="cscs"
                        type="text"
                        class=""
                        placeholder=""
                      />
                    </mat-form-field>
                    <!-- <div class="error-wrapper">
                      <span *ngIf="uiErrors.amount" class="error">{{
                        uiErrors.amount
                      }}</span>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="line"></div>

    <div class="d-flex justify-content-center">
      <div class="col-md-12 col-12 col-sm-12 col-lg-12">
        <div>
          <div
            class="row flex-column flex-md-row flex-lg-row align-items-start"
          >
            <div class="col mb-4 mb-sm-4 mb-md-0 mb-lg-0">
              <div class="d-flex align-items-center">
                <div
                  class="add-cscs d-flex align-items-center align-items-sm-center align-items-md-start align-items-lg-start flex-column ml-4"
                >
                  <div class="value mb-0">
                    <h6>US dollar account</h6>
                  </div>
                  <div class="key">
                    <span>Add your Dollar bank account</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col mb-4 mb-sm-4 mb-md-0 mb-lg-0">
              <div class="d-flex align-items-center">
                <div class="form-group">
                  <label
                    ><div class="gateway-label d-flex justify-content-between">
                      <div>Bank</div>
                    </div></label
                  >
                  <div class="input mt-1">
                    <mat-form-field
                      appearance="outline"
                      class="col-md-12 w-100"
                    >
                      <mat-select>
                        <mat-option value="html">
                          <img
                            src="/assets/logo/paystack.svg"
                            alt="Paystack Logo"
                          />
                          &nbsp; Paystack
                        </mat-option>
                        <mat-option value="css"
                          ><img
                            src="/assets/logo/Flutterwave.svg"
                            alt="Flutterwave Logo"
                          />
                          &nbsp; Flutterwave</mat-option
                        >
                        <mat-option value="js"
                          ><img
                            src="/assets/logo/Interswitch.svg"
                            alt="Interswitch Logo"
                          />
                          &nbsp; Interswitch</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                    <!-- <div class="error-wrapper">
                      <span *ngIf="uiErrors.amount" class="error">{{
                        uiErrors.amount
                      }}</span>
                    </div> -->
                  </div>
                </div>
              </div>

              <div class="d-flex align-items-center">
                <div class="form-group">
                  <label
                    ><div class="gateway-label d-flex justify-content-between">
                      <div>Account type</div>
                    </div></label
                  >
                  <div class="input mt-1">
                    <mat-form-field
                      appearance="outline"
                      class="col-md-12 w-100"
                    >
                      <mat-select>
                        <mat-option value="html">
                          <img
                            src="/assets/logo/paystack.svg"
                            alt="Paystack Logo"
                          />
                          &nbsp; Paystack
                        </mat-option>
                        <mat-option value="css"
                          ><img
                            src="/assets/logo/Flutterwave.svg"
                            alt="Flutterwave Logo"
                          />
                          &nbsp; Flutterwave</mat-option
                        >
                        <mat-option value="js"
                          ><img
                            src="/assets/logo/Interswitch.svg"
                            alt="Interswitch Logo"
                          />
                          &nbsp; Interswitch</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                    <!-- <div class="error-wrapper">
                      <span *ngIf="uiErrors.amount" class="error">{{
                        uiErrors.amount
                      }}</span>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col mb-4 mb-sm-4 mb-md-0 mb-lg-0">
              <div class="d-flex align-items-center">
                <div class="form-group">
                  <label
                    ><div class="gateway-label d-flex justify-content-between">
                      <div>Account number</div>
                    </div></label
                  >
                  <div class="input mt-1">
                    <mat-form-field
                      appearance="outline"
                      class="col-md-12 w-100 input"
                    >
                      <input
                        autocomplete="off"
                        matInput
                        name="cscs"
                        type="text"
                        class=""
                        placeholder=""
                      />
                    </mat-form-field>
                    <!-- <div class="error-wrapper">
                      <span *ngIf="uiErrors.amount" class="error">{{
                        uiErrors.amount
                      }}</span>
                    </div> -->
                  </div>
                </div>
              </div>

              <div class="d-flex align-items-center">
                <div class="form-group">
                  <label
                    ><div class="gateway-label d-flex justify-content-between">
                      <div>ACH and wire routing number</div>
                    </div></label
                  >
                  <div class="input mt-1">
                    <mat-form-field
                      appearance="outline"
                      class="col-md-12 w-100 input"
                    >
                      <input
                        autocomplete="off"
                        matInput
                        name="cscs"
                        type="text"
                        class=""
                        placeholder=""
                      />
                    </mat-form-field>
                    <!-- <div class="error-wrapper">
                      <span *ngIf="uiErrors.amount" class="error">{{
                        uiErrors.amount
                      }}</span>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="line"></div>

    <div class="d-flex justify-content-center">
      <div class="col-md-12 col-12 col-sm-12 col-lg-12">
        <div>
          <div
            class="row flex-column flex-md-row flex-lg-row align-items-start"
          >
            <div class="col mb-4 mb-sm-4 mb-md-0 mb-lg-0">
              <div class="d-flex align-items-center">
                <div
                  class="add-cscs d-flex align-items-center align-items-sm-center align-items-md-start align-items-lg-start flex-column ml-4"
                >
                  <div class="value mb-0">
                    <h6>Stockbroking house</h6>
                  </div>
                  <div class="key">
                    <span>Select preferred brokering house</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col mb-4 mb-sm-4 mb-md-0 mb-lg-0">
              <div class="d-flex align-items-center">
                <div class="form-group">
                  <label
                    ><div class="gateway-label d-flex justify-content-between">
                      <div>Brokering house</div>
                    </div></label
                  >
                  <div class="input mt-1">
                    <mat-form-field
                      appearance="outline"
                      class="col-md-12 w-100"
                    >
                      <mat-select>
                        <mat-option value="html">
                       Chapel Hill Denham
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <!-- <div class="error-wrapper">
                      <span *ngIf="uiErrors.amount" class="error">{{
                        uiErrors.amount
                      }}</span>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col mb-4 mb-sm-4 mb-md-0 mb-lg-0">
              <div class="d-flex align-items-center">
                </div>
                </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
