<div class="container mb-5">
  <div class="help-wrapper faq-wrapper">
    <div class="faq col-md-6">
      <div class="title faq text-center">
        <h2>Frequently asked questions</h2>
      </div>

      <div class="faq-accordion">
        <mat-accordion>
          <mat-expansion-panel class="mt-3 faq-body" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header class="faq">
              <mat-panel-title>
                <span class="mat-title"> What is BVN and why do we need it ?</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <span class="faq-text">BVN means Bank Verification Number is an eleven digit unique identifier or number given
              to individuals operating a bank account in Nigeria.
            </span>
          </mat-expansion-panel>
          <mat-expansion-panel class="mt-3 faq-body" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header class="faq">
              <mat-panel-title>
                <span class="mat-title"> What are CSCS and CHN numbers? </span>
              </mat-panel-title>

            </mat-expansion-panel-header>
            <span class="faq-text">BVN means Bank Verification Number is an eleven digit unique identifier or number given
              to individuals operating a bank account in Nigeria.
            </span>
          </mat-expansion-panel>
          <mat-expansion-panel class="mt-3 faq-body" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header class="faq">
              <mat-panel-title>
                <span class="mat-title"> Can i buy an offer multiple times? </span>
              </mat-panel-title>

            </mat-expansion-panel-header>
            <span class="faq-text">BVN means Bank Verification Number is an eleven digit unique identifier or number given
              to individuals operating a bank account in Nigeria.
            </span>
          </mat-expansion-panel>
          <mat-expansion-panel class="mt-3 faq-body" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header class="faq">
              <mat-panel-title>
                <span class="mat-title"> What do i do when a transaction fails? </span>
              </mat-panel-title>

            </mat-expansion-panel-header>
            <span class="faq-text">BVN means Bank Verification Number is an eleven digit unique identifier or number given
              to individuals operating a bank account in Nigeria.
            </span>
          </mat-expansion-panel>
          <mat-expansion-panel class="mt-3 faq-body" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header class="faq">
              <mat-panel-title>
                <span class="mat-title"> How long would it take for my settlement to arrive? </span>
              </mat-panel-title>

            </mat-expansion-panel-header>
            <span class="faq-text">BVN means Bank Verification Number is an eleven digit unique identifier or number given
              to individuals operating a bank account in Nigeria.
            </span>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

    </div>
  </div>
</div>
