<div class="container-fluid">
  <div class="transaction-wrapper" *ngIf="!container['txnsLoading']">
    <div class="back-button-v2">
      <a
        (click)="goBack()"
        class="d-flex justify-content-between align-items-center m-0 p-0"
        ><i class="ri-arrow-left-line"></i><span>Transactions</span></a
      >
    </div>


    <div class="transaction-filter">
      <mat-form-field class="col-md-6" appearance="outline">
        <!-- <mat-label>Enter a date range</mat-label> -->
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date" />
          <input matEndDate placeholder="End date" />
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>

    <div class="mt-4">
      <div class="row d-flex flex-row column-gap-sm">
        <div class="mat-elevation-z8 px-0">
          <table mat-table [dataSource]="txnsDataSource">
            <ng-container
              matColumnDef="{{ column['name'] }}"
              *ngFor="let column of txnsDisplayedColumns"
            >
              <th mat-header-cell *matHeaderCellDef>
                <div [ngSwitch]="column['name']">
                  <div *ngSwitchDefault>{{ column["title"] }}</div>
                  <div *ngSwitchCase="'amount'" class="text-right tableAmount">
                    {{ column["title"] }}
                  </div>
                </div>
              </th>
              <mat-progress-bar
                mode="indeterminate"
                *ngIf="container['transactionsLoading']"
              ></mat-progress-bar>
              <td mat-cell *matCellDef="let element">
                <div
                  [ngSwitch]="column['name']"
                  [ngClass]="{
                    tableAmount: column['name'] == ('number' || 'money')
                  }"
                >
                  <div *ngSwitchDefault>{{ element[column["name"]] }}</div>
                  <div *ngSwitchCase="'status'" class="status">
                    <div
                      [ngClass]="{
                        success: element?.TxnHeader?.status === 'success',
                        failed: element?.TxnHeader?.status === 'failed',
                        pending: element?.TxnHeader?.status === 'pending'
                      }"
                    >
                      {{ element?.TxnHeader?.status | titlecase }}
                    </div>
                  </div>
                  <div *ngSwitchCase="'amount'" class="text-right tableAmount">
                    {{ element[column["name"]] | number }}
                  </div>
                  <div *ngSwitchCase="'date'">
                    {{ element?.createdAt | date }}
                  </div>
                  <div *ngSwitchCase="'name'">
                    {{ element?.User?.firstName }}
                  </div>
                  <div *ngSwitchCase="'email'">{{ element?.User?.email }}</div>
                  <div *ngSwitchCase="'gateway'">
                    {{ element?.TxnHeader?.channel }}
                  </div>
                  <div *ngSwitchCase="'reference'">
                    {{ element?.TxnHeader?.reference }}
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="txnsColumnsToDisp"></tr>
            <tr mat-row *matRowDef="let row; columns: txnsColumnsToDisp"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td
                class="mat-cell text-center py-3"
                [attr.colspan]="txnsDisplayedColumns.length"
              >
                No data found.
              </td>
            </tr>
          </table>
          <div
            *ngIf="container['transactionsLoading']"
            class="mat-spinner-container"
          >
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
          <mat-paginator
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
            aria-label="Select page of periodic elements"
            [length]="total_count"
            [pageSize]="pageSize"
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="container['txnsLoading']">
  <app-loader></app-loader>
</div>
