<div class="address-wrapper">
  <div class="address-header-wrapper">
    <div
      class="address-header d-flex justify-content-between align-items-center"
    >
      <h6 class="m-0">Addresses ({{userInformation?.length}})</h6>
      <div class="address-header-btn">
        <button (click)="addAddress()">Add New Address</button>
      </div>
    </div>
  </div>

  <div class="line-a"></div>

  <div class="address-body-wrapper">
    <div class="row g-3">

      <div class="col-6 col-sm-6 col-md-4">
        <div class="address-content">
          <div class="address-text">
            <h5>Riley Sanchez</h5>
            <h6 class="m-0">
              16 Ajanlekoko Street, oloriburuku Lane, Ikota, Lagos +234
              8004567907
            </h6>
            <div class="default">
              <a>Default Address</a>
            </div>
          </div>
          <div class="address-footer d-flex justify-content-end">
            <span class="px-2"><i class="ri-pencil-line"></i></span>
            <span><i class="ri-delete-bin-line"></i></span>
          </div>
        </div>
      </div>

      <div class="col-6 col-sm-6 col-md-4">
        <div class="address-content">
          <div class="address-text">
            <h5>Riley Sanchez</h5>
            <h6 class="m-0">
              16 Ajanlekoko Street, oloriburuku Lane, Ikota, Lagos +234
              8004567907
            </h6>
            <!-- <div class="default">
              <a>Default Address</a>
            </div> -->
          </div>
          <div class="address-footer d-flex justify-content-between">
            <div>
              <span>Set as Default Address</span>
            </div>
            <div>
              <span class="px-2"><i class="ri-pencil-line"></i></span>
              <span><i class="ri-delete-bin-line"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
