<div class="profile-wrapper">
  <div class="profile-header">
    <div class="d-flex flex-column flex-sm-column flex-md-row flex-lg-row align-items-center">
      <div class="profile-img-wrapper flex-grow-1">
        <div class="d-flex align-items-center">
          <div class="">
            <div class="profile-img">
              <span *ngIf="true" class="profileName"
                >{{ "Jest" | slice : 0 : 1
                }}{{ "Desting" | slice : 0 : 1 }}</span
              >
              <img *ngIf="false" [src]="" alt="" />
              <!-- <mat-icon>expand_more</mat-icon> -->
            </div>
          </div>
            <div class="change-profile-image mb-0">
              <a>Change profile picture</a>
            </div>
        </div>
      </div>
      <!-- <div class="p-0 button-wrapper pointer">
        <button class="action-btn">Edit Profile</button>
      </div> -->
    </div>
  </div>

  <div class="personal-info-wrapper">
    <div class="title personal-info-header">
      <h6>Personal information</h6>
    </div>

    <div class="d-flex align-items-start mt-4">
      <div class="col-md-12 col-12 col-sm-12 col-lg-12">
        <div>
        <div
            class="d-flex flex-column flex-md-row flex-lg-row align-items-center">
            <div class="col mb-4 mb-sm-4 mb-md-0 mb-lg-0">
              <div class="d-flex">
                <div
                  class="personal-info d-flex align-items-center align-items-sm-center align-items-md-start align-items-lg-start flex-column ml-4"
                >
                  <div class="key"><span>First name</span></div>
                  <div class="value  mb-0">
                    <span>Jonathan</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col mb-4 mb-sm-4 mb-md-0 mb-lg-0">
              <div class="d-flex ">
                <div
                  class="personal-info d-flex align-items-center align-items-sm-center align-items-md-start align-items-lg-start flex-column ml-4"
                >
                  <div class="key"><span>Last name</span></div>
                  <div class="value  mb-0">
                    <span>David</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col mb-4 mb-sm-4 mb-md-0 mb-lg-0">
              <div class="d-flex ">
                <div
                  class="personal-info d-flex align-items-center align-items-sm-center align-items-md-start align-items-lg-start flex-column ml-4"
                >
                  <div class="key"><span>Date of birth</span></div>
                  <div class="value  mb-0">
                    <span>January 1, 1990</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex align-items-start mt-4">
      <div class="col-md-12 col-12 col-sm-12 col-lg-12">
        <div>
          <div
            class="d-flex flex-column flex-md-row flex-lg-row align-items-center"
          >
            <div class="col mb-4 mb-sm-4 mb-md-0 mb-lg-0">
              <div class="d-flex align-items-center">
                <div
                  class="personal-info d-flex align-items-center align-items-sm-center align-items-md-start align-items-lg-start flex-column ml-4"
                >
                  <div class="key"><span>Phone number</span></div>
                  <div class="value  mb-0">
                    <span>+2347034567890</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col mb-4 mb-sm-4 mb-md-0 mb-lg-0">
              <div class="d-flex ">
                <div
                  class="personal-info d-flex align-items-center align-items-sm-center align-items-md-start align-items-lg-start flex-column ml-4"
                >
                  <div class="key"><span>Email</span></div>
                  <div class="value  mb-0">
                    <span>jonathandavid@mail.com</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col mb-4 mb-sm-4 mb-md-0 mb-lg-0">
              <div class="d-flex ">
                <div
                  class="personal-info d-flex align-items-center align-items-sm-center align-items-md-start align-items-lg-start flex-column ml-4"
                >
                  <div class="key"><span>Address</span></div>
                  <div class="value  mb-0">
                    <span>10 Bankole Oki, Ikoyi, Lagos</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="personal-info-wrapper other">
    <div class="title personal-info-header">
      <h6>Other information</h6>
    </div>

    <div class="d-flex align-items-start mt-4">
      <div class="col-md-12 col-12 col-sm-12 col-lg-12">
        <div>
          <div
            class="d-flex flex-column flex-md-row flex-lg-row align-items-center"
          >
            <div class="col mb-4 mb-sm-4 mb-md-0 mb-lg-0">
              <div class="d-flex">
                <div
                  class="personal-info d-flex align-items-center align-items-sm-center align-items-md-start align-items-lg-start flex-column ml-4"
                >
                  <div class="key"><span>Next of kin</span></div>
                  <div class="value  mb-0">
                    <span>Solomon David</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col mb-4 mb-sm-4 mb-md-0 mb-lg-0">
              <div class="d-flex ">
                <div
                  class="personal-info d-flex align-items-center align-items-sm-center align-items-md-start align-items-lg-start flex-column ml-4"
                >
                  <div class="key"><span>Phone number</span></div>
                  <div class="value  mb-0">
                    <span>+2348047584757</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col mb-4 mb-sm-4 mb-md-0 mb-lg-0">
              <div class="d-flex ">
                <div
                  class="personal-info d-flex align-items-center align-items-sm-center align-items-md-start align-items-lg-start flex-column ml-4"
                >
                  <div class="key"><span>Email</span></div>
                  <div class="value  mb-0">
                    <span>solomondavid@mail.com</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="get-in-touch-wrapper">
    <div class="get-in-touch w-100">
      <span class="settings">To make changes to your first name, last name and date of birth. <a routerLink="/auth/get-in-touch">Get in touch</a></span>
    </div>
  </div>

</div>
