<div class="container">
  <div class="col-md-12 mt-5">
    <div class="auth-image-wrapper">
      <img src="/assets/logo/primary-offer-logo.svg" alt="Primary Logo" height="48">
    </div>
  </div>
  <div class="col-md-12 mt-2">
    <in-backbutton></in-backbutton>
  </div>
  <div class="successful-wrapper d-flex justify-content-center mt-5">
    <div class="successful-body mt-5">
      <div class="successful-img d-flex justify-content-center">
        <img src="/assets/img/success-img.svg" alt="Success Img">
      </div>
      <div class="successful-title mt-4 title">
        <h3>Password reset successful</h3>
        <p>Your account password has been reset successful</p>
      </div>
      <div class="btn-wrapper mt-5">
        <button routerLink="/auth/login" class="col-md-12 action-btn white text-nowrap">Got in</button>
      </div>
    </div>
  </div>

</div>
