.info-header-wrapper {
  h3 {
    color: #4c535f;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
.profile-pic-wrapper {
  margin-top: 24.5px;
}
.pic-holder {
  text-align: center;
  position: relative;
  width: 130px;
  height: 132px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  border: 1px dashed #4c535f;
  background: #edf2f6;
}

.pic-holder .pic {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.pic-holder .upload-file-block,
.pic-holder .upload-loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  color: #4c535f;
  font-weight: 500;
  line-height: normal;
}

.pic-holder .upload-file-block {
  cursor: pointer;
}

// .pic-holder:hover .upload-file-block,
// .uploadProfileInput:focus ~ .upload-file-block {
//   opacity: 1;
// }

.pic-holder.uploadInProgress .upload-file-block {
  // display: none;
}

// .pic-holder.uploadInProgress .upload-loader {
//   opacity: 1;
// }

/* Snackbar css */
.snackbar {
  visibility: hidden;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 14px;
  transform: translateX(-50%);
}

.snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.info-content-wrapper {
  margin-top: 37px;

  .card {
    border-radius: 10px;
    background: #fff;
    padding: 40px 30px;
    // border: none;
  }
}

.info-button-wrapper {
  margin-top: 27px;
  display: flex;
  align-items: center;

  .reset-button {
    color: #4c535f;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    background-color: transparent;
  }

  .update-button {
    border-radius: 8px;
    background: #6200ee;
    width: 201px;
    height: 49px;
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
  }
}

.info-text {
  span {
    color: var(--foundation-text-text-300, #767676);
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 108.5%;

    a {
      color: var(--foundation-primary-primary-500, #6862c2);
      font-family: DM Sans;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 160%;
    }
  }
}

.verify-btn {
  color: var(--foundation-primary-primary-500, #6862c2);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}
