<div mat-dialog-title class="d-flex justify-content-end">
  <button class="close-button" [mat-dialog-close]="false">
    <i class="ri-close-line"></i>
  </button>
</div>
<div mat-dialog-content class="gateway-wrapper">
  <div class="title gateway-header">
    <h2 class="mb-0 text-center">Change Password</h2>
  </div>

  <div class="gateway-content mt-4">
    <form [formGroup]="resetPasswordForm" [autocomplete]="'off'">

      <div class="form-group mt-4">
        <label>Current Password</label>
        <div class="input mt-1">
          <mat-form-field appearance="outline" class="col-md-12 w-100">
            <input matInput id="oldPassword" name="oldPassword" type="password" class="" placeholder=""
              autocomplete="new-password" formControlName="oldPassword" (keyup)="controlChanged('oldPassword')"
              [type]="container['fieldTextType'] ? 'text' : 'password'">
            <button (click)=" clearPassword('oldPassword')"
              *ngIf="uiErrors.oldPassword || (resetPasswordForm.get('oldPassword')?.invalid && resetPasswordForm.get('oldPassword')?.touched)"
              type="button" mat-icon-button matSuffix>
              <i class="ri-close-circle-fill"></i>
            </button>
            <button type="button" mat-icon-button matSuffix (click)="showEyes()"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="container['fieldTextType']">
              <i class="{{container['fieldTextType'] ? 'ri-eye-fill' : 'ri-eye-close-fill'}}"></i>
            </button>
            <button
              *ngIf="!uiErrors.oldPassword && resetPasswordForm.get('oldPassword')?.touched && resetPasswordForm.get('oldPassword')?.valid"
              type="button" mat-icon-button matSuffix class="text-success">
              <i class="ri-checkbox-circle-fill"></i>
            </button>
          </mat-form-field>
          <div class="error-wrapper">
            <span *ngIf="uiErrors.oldPassword" class="error">{{uiErrors.oldPassword}}</span>
          </div>
        </div>
      </div>

      <div class="form-group mt-4">
        <label>New Password</label>
        <div class="input mt-1">
          <mat-form-field appearance="outline" class="col-md-12 w-100">
            <input matInput id="password" name="password" type="password" class="" placeholder=""
              autocomplete="new-password" formControlName="password" (keyup)="controlChanged('password')"
              [type]="container['fieldTextType'] ? 'text' : 'password'">
            <button (click)=" clearPassword('password')"
              *ngIf="uiErrors.password || (resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched)"
              type="button" mat-icon-button matSuffix>
              <i class="ri-close-circle-fill"></i>
            </button>
            <button type="button" mat-icon-button matSuffix (click)="showEyes()"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="container['fieldTextType']">
              <i class="{{container['fieldTextType'] ? 'ri-eye-fill' : 'ri-eye-close-fill'}}"></i>
            </button>
            <button
              *ngIf="!uiErrors.password && resetPasswordForm.get('password')?.touched && resetPasswordForm.get('password')?.valid"
              type="button" mat-icon-button matSuffix class="text-success">
              <i class="ri-checkbox-circle-fill"></i>
            </button>
          </mat-form-field>
          <div class="error-wrapper">
            <span *ngIf="uiErrors.password" class="error">{{uiErrors.password}}</span>
          </div>
        </div>
      </div>

      <div class="form-group mt-4">
        <label>Confirm New Password</label>
        <div class="input mt-1">
          <mat-form-field appearance="outline" class="col-md-12 w-100">
            <input matInput id="confirmPassword" name="confirmPassword" type="password" class="" placeholder=""
              autocomplete="new-password" formControlName="confirmPassword"
              (keyup)="controlChanged('confirmPassword')"
              [type]="container['fieldTextType'] ? 'text' : 'password'">
            <button (click)=" clearPassword('confirmPassword')"
              *ngIf="uiErrors.confirmPassword ||  (resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched)"
              type="button" mat-icon-button matSuffix>
              <i class="ri-close-circle-fill"></i>
            </button>
            <button type="button" mat-icon-button matSuffix (click)="showEyes()"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="container['fieldTextType']">
              <i class="{{container['fieldTextType'] ? 'ri-eye-fill' : 'ri-eye-close-fill'}}"></i>
            </button>
            <button
              *ngIf="!uiErrors.confirmPassword && resetPasswordForm.get('confirmPassword')?.touched && resetPasswordForm.get('confirmPassword')?.valid"
              type="button" mat-icon-button matSuffix class="text-success">
              <i class="ri-checkbox-circle-fill"></i>
            </button>
          </mat-form-field>
          <div class="error-wrapper">
            <span *ngIf="uiErrors.confirmPassword" class="error ">{{uiErrors.confirmPassword}}</span>
          </div>
        </div>
      </div>
      <div class="button-wrapper mt-3">
        <button type="submit" (click)="submit()"  class="submit-btn col-md-12 w-100" [disabled]="submitting" >
          <span class="d-flex justify-content-center align-items-center w-100 text-light">Save
            <app-loader2 *ngIf="submitting"></app-loader2>
          </span>
        </button>
      </div>
    </form>
  </div>
</div>
