.category-wrapper {
  // width: 518px;
  // height: 131px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 16px;
  margin-top: 30px;
  cursor: pointer;

  &.active {
    background-color: #2b4e62;
    color: #fff;

    i {
      color: #fff;
    }

    .category-title {
      p {
        color: #fff;
      }
    }

    .category-subtitle {
      small {
        color: #fff;
      }
    }
  }

  .category-title {
    p {
      color: var(--foundation-text-text-600, #2e2e2e);
      /* Body/Large: Bold */
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 160%; /* 28.8px */
    }
  }

  .category-subtitle {
    small {
      color: var(--foundation-text-text-400, #5c5c5c);
      /* Body/Small: Regular */
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 22.4px */
    }
  }
}
