<div class="container-fluid px-2 px-sm-2 px-md-4 px-lg-4 pb-5">
  <div class="col-md-12 back-wrapper">
    <in-backbutton></in-backbutton>
  </div>

  <div class="providers-wrapper">
    <div class="services-header d-flex justify-content-between align-items-center">
    <div class="services-header-title v1">
      <h4>Select a service provider</h4>
      <p>
        You can pick one out of our wide selection of providers.
      </p>
    </div>
  </div>
    <div class="providers-content pe-md-5 pe-0 pe-sm-0" >
      <ng-container *ngIf="providersData">
        <div class="d-flex flex-column flex-sm-column flex-md-row bd-highlight mb-3 align-items-center pointer" *ngFor="let p of providersData" (click)="navigateToProviderXteristics(p)">
          <div class="bd-highlight">
            <div class="providers-content-img-wrapper">
              <img src="/assets/img/provider-1.svg" alt="Provider image" />
            </div>
          </div>
          <div class="px-2 px-sm-2 px-md-4 bd-highlight">
            <div class="d-flex flex-column">
              <div class="providers-text d-flex justify-content-md-start justify-content-sm-center justify-content-center">
                <h4 class="p-0 m-0">{{p?.name}}</h4>
              </div>
              <div class="mt-1 providers-text d-flex justify-content-md-start justify-content-sm-center justify-content-center">
                <!-- <span> {{p?.Addresses[0].distance | number:"1.2-2"}} KM | {{p?.Addresses[0].address1}}, {{p?.Addresses[0].city}} </span> -->
                <span> {{p?.Addresses.distance | number:"1.2-2"}} KM | {{p?.Addresses.address1}}, {{p?.Addresses.city}} </span>
              </div>
            </div>
          </div>
          <div class="ms-md-auto bd-highlight d-flex flex-sm-row flex-row flex-md-column align-items-md-center align-items-sm-center align-items-start">
            <div class="providers-rating-wrapper">
              <span>4.2</span>
            </div>
            <div class="providers-icon-wrapper">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
            </div>
          </div>
        </div>
        <div class="d-flex bd-highlight mb-3 align-items-center pointer" *ngIf="providersData?.length <= 0">
          No vendors offer this service
        </div>
      </ng-container>

      <div class="d-flex bd-highlight mb-3 align-items-center pointer" *ngIf="container['providersLoading']">
        Looking for vendors near you...
      </div>
    </div>
  </div>
</div>
