
.fg-password {
  // margin-top: -22px;
  font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 160%; /* 22.4px */
}

.auth-first-column {
  position: relative;
}

.back-top {
  position: absolute;
  top: 30px;
}
